// COLORS
$color-primary: #9ab3f5;
$color-primary-light: #ff414d;
$color-primary-dark: #934967;
$color-secondary-light: #3b97bb;
$color-secondary-dark: #30c4ff;
$color-tertiary-light: #9ea1a3;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
// FONT
$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;